// ----------------------------------------------------------
// ========================== Page ==========================
// ----------------------------------------------------------

// Display Box Model
$page-header-height: 50px;
$page-header-padding-top: 7px;
$page-header-padding-left: 2px;
$page-header-file-icon-padding-left: 6px;
$page-header-file-icon-padding-right: 0px;

// Typography
$regular-font-size: 16px;
$regular-line-height: 1.3em;

// Colours
$page-header-background-color: #272822;
$page-header-text-color: #FFF;
$page-header-file-icon-text-color: #F5276F;
$page-main-background-color: #F1F1F1;


// ----------------------------------------------------------
// ======================== Shortcut ========================
// ----------------------------------------------------------

// Display Box Model
$shortcut-padding-left: 40px;
$shortcut-padding-right: 40px;

// Typography
$shortcut-font-size: 11px;

// Colours
$shortcut-background-color: #FFF;
$shortcut-text-color: #999999;
$shortcut-button-text-color: #F5276F;

// Shadow
$shortcut-box-shadow: 0px 0px 5px #BEBEBE;


// ----------------------------------------------------------
// ========================== Wallet ==========================
// ----------------------------------------------------------

$wallet-list-container-vertical-padding: 20px;
$wallet-list-container-horizontal-padding: 40px;


// ----------------------------------------------------------
// ========================== Card ==========================
// ----------------------------------------------------------

// Display Box Model
$card-horizontal-padding: 30px;
$card-vertical-padding: 30px;
$card-margin-bottom: 20px;
$card-new-vertical-padding: 15px;
$card-note-padding-left: 30px;
$card-todo-padding-left: 7px;
$card-todo-checkbox-margin-top: 0;
$card-todo-checkbox-margin-right: 7px;

// Typography
$card-font-weight: 300;

// Colours
$card-background-color: #FFF;
$card-border-color: #FFF;
$card-border-focus-color: #66AFE9;
$card-new-text-color: #BEBEBE;
$card-active-text-color: #000000;
$card-todo-checkbox-checked-color: #BEBEBE;

// Shadow
$card-active-box-shadow: 0px 0px 10px #EEEEEE;
