.cb-main-header {
    display: inline-block;
}

.cb-heading-icon-file {
    color: $page-header-file-icon-text-color;
    padding-left: $page-header-file-icon-padding-left;
    padding-right: $page-header-file-icon-padding-right;
    position: relative;
    top: 2px;

    &:before {
        content: "\e605";
        @extend .cb-icomoon-font;
    }
}

.app-title {
    display: inline-block;
    color: $page-header-file-icon-text-color;
    margin: 15px 0px;
    font-weight: 300;
}
