.cb-wallet-list-container {
    padding: $wallet-list-container-vertical-padding $wallet-list-container-horizontal-padding;
    margin: 0;
}

.cb-wallet-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
