#header {
    background-color: $page-header-background-color;
    color: $page-header-text-color;
    height: $page-header-height;
    width: 100%;
}

#main {
    background-color: $page-main-background-color;
    padding:0;
    min-height: 100%;
}
