#header {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #272822;
    color: #EBEBEB;
    text-transform: uppercase;
}

#header h2 {
    font-family: 'kelson_sansregular', Arial, sans-serif; 
    padding-top: 4px;
    padding-left: 10px;
    color:#FFF;
}

#main {
    height:100%;
}

.icon-file {
    color: #F5276F;
    padding-left: 6px;
    padding-right: 9px;
    margin-top: 4px;
    position:relative;
    top:2px;
}
