#header {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #272822;
    color: #EBEBEB;
    text-transform: uppercase;
}

#header h2 {
    font-family: 'kelson_sansregular', Arial, sans-serif; 
    padding-top: 4px;
    padding-left: 10px;
    color:#FFF;
}

#main {
    height: 100%;
}

#mousehover {
    background-color: #FFFFC2;
    #shortcut {
        font-size: 13px;
        color: #BEBEBE;
        background-color: #272822;
        position: relative;
        width: 57px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: 4px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}

#cb-tutorial-banner {
    // padding-top: 5px;
    // padding-left:40px;
    // padding-right:40px;
    // padding-bottom: 5px;
    width: 85px;
    height: 27px;
    border-bottom-right-radius: 10px;
    font-family: 'roboto', Arial, sans-serif; 
    color: #999999;
    font-size: 11px;
    background: #FFFFC2;
    display: block;
    position: relative;
    overflow: hidden;
    transition-duration: 0.5s;
}

#cb-tutorial-banner:hover {
    // padding-top: 5px;
    // padding-left:40px;
    // padding-right:40px;
    // padding-bottom: 5px;
    width: 100%;
    font-family: 'roboto', Arial, sans-serif; 
    color: #999999;
    font-size: 11px;
    background: #FFFFC2;
    display: block;
    position: relative;
    box-shadow: 0px 0px 5px #BEBEBE;
    overflow: hidden;

}


.cb-tutorial {
    width: 100%;
    display: inline;
    margin-left: 6px;
    margin-right: 6px;
    line-height: 2.5;
}

.cb-tutorial-button {
    border-style: solid;
    border-width: 1px;
    position: inline;
    padding: 2px;
    margin-right: 5px;
    border-radius: 5px;
}
