#header {
    font-family: 'Roboto', sans-serif; compfont-weight:300;
    color:#ebebeb;
    background-color: #272822;
    width:100%;
    margin:0em;
}

#body {
    margin:0;
    padding:0;
}

h2 {
    margin:0;
}
